<nav id="menu">
  <ul class="links">
    <li><a><%= link_to 'Evim',root_path %></a></li>
    <li><a ><%= link_to 'Müziklerim' , videos_path%></a></li>
    <li><a href="../../../../../WebstormProjects/asab/elements.html">Elements</a></li>
    <li><a href="../../../../../WebstormProjects/asab/generic2.html">Elements</a></li>
    <li><a href="../../../../../WebstormProjects/asab/elements.html">Neobeat</a></li>

  </ul>
</nav>