<!--
<header id="header" class="alt">
  <div class="logo"><img src="images/logo.jpg" height="56" width="56"> </div>
  <a href="#menu"><span>Menu</span></a>
</header>
-->

<!-- Image and text -->
<nav class="navbar navbar-light bg-faded" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>