<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
  <title>Açık Seçik Aşk Bandosu</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="icon" href="images/logo.jpg">
</head>
<body class="subpage">

<!-- Header -->

<%= render partial: 'partials/page_header'%>

<!-- Nav -->
<nav id="menu">
  <ul class="links">
    <li><a href="index.html">Home</a></li>
    <li><a href="jacksroad.html">Açık Seçik Şeyler</a></li>
    <li><a href="elements.html">Elements</a></li>
    <li><a href="generic2.html">Elements</a></li>
    <li><a href="elements2.html">Neobeat</a></li>
  </ul>
</nav>

<!-- Content -->
<!--
  Note: To show a background image, set the "data-bg" attribute below
  to the full filename of your image. This is used in each section to set
  the background image.
-->

<section id="post" class="wrapper bg-img" data-bg="guitars.jpg">
  <div class="inner">
    <article class="box">
      <header>
        <h2>Some Quotes</h2>
        <p>05.09.1957</p>
      </header>
      <div class="content">
        <h2>Şarkılarımın Listesi</h2>
        <% @videos.each do |video| %>
            <img src="https://i1.ytimg.com/vi/<%=video["id"]["videoId"]%>/mqdefault.jpg" alt="<%=video["snippet"]["title"]%>" ><br>
            <a class="video-link" href="https://www.youtube.com/embed/<%=video["id"]["videoId"]%>" data-width="1920" data-height="1080"><%=video["snippet"]["title"]%></a><br><br>

      <% end %>
      </div>
      <footer>
        <ul class="actions">
          <li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
          <li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
        </ul>
      </footer>
    </article>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">

    <h2>Contact Me</h2>

    <form action="#" method="post">

      <div class="field half first">
        <label for="name">Name</label>
        <input name="name" id="name" type="text" placeholder="Name">
      </div>
      <div class="field half">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" placeholder="Email">
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
      </div>
      <ul class="actions">
        <li><input value="Send Message" class="button alt" type="submit"></li>
      </ul>
    </form>

    <ul class="icons">
      <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>

    <div class="copyright">
      &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
    </div>

  </div>
</footer>

<!-- Scripts
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/videopop.js"></script>
-->

<%= javascript_include_tag 'jquery.scrollex.min', 'data-turbolinks-track': 'reload' %>

<%= javascript_include_tag 'skel.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'util', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.scrolly.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'videopop', 'data-turbolinks-track': 'reload' %>

</body>
</html>