<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Açık Seçik Aşk Bandosu</title>
    <%= csrf_meta_tags %>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload' %>
		<link rel="icon" href="images/logo.jpg">

	</head>
	<body>


		<!-- Header -->
    <header id="header">


      <div class="logo"><!–– foto gelicek --><a><%= link_to 'byStudio',root_path %></a></div>
      <a href="#menu"><span>Menu</span></a>
    </header>

		<!-- Nav -->
    <%= render partial: 'partials/navbar' %>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="<%=image_path('kapak1.jpg') %>">
				<div class="inner">
					<header>
						<h1>Açık Seçik Aşk Bandosu</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="<%=image_path('guitars.jpg') %>">
				<div class="inner" >
					<article class="box">
						<header >
							<h2 style="font-family: cursive; text-transform: lowercase;">açık seçik aşk şarkılar</h2>
							<p style="font-family: cursive; text-transform: lowercase;" >March 2014</p>
						</header>
						<div class="content">
							<p>Epey bir Açık Hem de Seçik bir Aşkın Bandosu</p>
						</div>
						<footer>
							<a href="../../../../../WebstormProjects/asab/seyler.html" class="button alt" style="text-transform: lowercase">şeyler</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more" >şeyler</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg=<%=image_path('akor.jpg') %>>
				<div class="inner">
					<article class="box">
						<header>
              <h2 style="font-family: cursive; text-transform: lowercase;">açık seçik aşk akorları</h2>
              <p style="font-family: cursive; text-transform: lowercase;" >March 2014</p>
	ea			</header>
						<div class="content">
							<p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
						</div>
						<footer>
							<a href="generic.html" class="button alt" style="text-transform: lowercase">şeyler</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Varius a cursus aliquet</h2>
							<p>11.11.2016</p>
						</header>
						<div class="content">
							<p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
						</div>
						<footer>
							<a href="generic.html" class="button alt">Learn More</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Learn More</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Zeytinli Fest</h2>
							<p>24.08.2014</p>
						</header>
						<div class="content">
							<p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
						</div>
						<footer>
							<a href="generic.html" class="button alt">Learn More</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					ntitled. Design: TEMPLATED. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
      <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track': 'reload' %>

      <%= javascript_include_tag 'jquery.scrollex.min', 'data-turbolinks-track': 'reload' %>

      <%= javascript_include_tag 'skel.min', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'util', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'jquery.scrolly.min', 'data-turbolinks-track': 'reload' %>




  </body>
</html>