<!DOCTYPE html>
<html>
  <head>
    <title>Asab</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" data-bg="<%=image_path('logo.jpg') %>">

  </head>

  <body>
    <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    </body>
  </body>
</html>
